# {{ ansible_managed }}

# See /usr/share/postfix/main.cf.dist for a commented, more complete version


smtpd_banner = $myhostname ESMTP
biff = no
append_dot_mydomain = no
#delay_warning_time = 4h
readme_directory = no
compatibility_level = 2
disable_vrfy_command = yes
smtpd_helo_required = yes
smtpd_tls_cert_file = /etc/letsencrypt/live/{{ fqdn }}//fullchain.pem
smtpd_tls_key_file = /etc/letsencrypt/live/{{ fqdn }}/privkey.pem
smtp_tls_security_level = may
smtpd_tls_security_level = may
smtp_tls_note_starttls_offer = yes
smtpd_tls_loglevel = 1
smtpd_tls_received_header = yes
smtpd_use_tls = yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_local_domain =
smtpd_sasl_security_options = noanonymous
broken_sasl_auth_clients = yes
smtpd_relay_restrictions = permit_mynetworks
myhostname = {{ postfix_myhostname }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = /etc/mailname
mydestination = {{ postfix_mydestination }}
relayhost = {{ postfix_relayhost }}
mynetworks = {{ postfix_mynetworks }}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = {{ postfix_inet_interfaces }}
inet_protocols = {{postfix_inet_protocols}}
virtual_maps = regexp:/etc/postfix/virtual-regexp

smtpd_recipient_restrictions =
                          permit_sasl_authenticated,
                          permit_mynetworks,
                          reject_unknown_recipient_domain,
                          reject_non_fqdn_recipient,
                          reject_unauth_destination,
                          reject_unlisted_recipient,
                          permit_auth_destination,
                          reject

smtpd_sender_restrictions =
                          reject_non_fqdn_sender,
                          reject_unknown_sender_domain

# DKIM
milter_default_action = accept
milter_protocol = 2
smtpd_milters = inet:localhost:8791,inet:localhost:8792
non_smtpd_milters = inet:localhost:8791,inet:localhost:8792
