# container-miniflux-postgres.service

[Unit]
Description=Podman container-miniflux-postgres.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target
RequiresMountsFor=/home/miniflux/.local/share/containers/storage /run/user/"{{ miniflux_user_uid }}"/containers
BindsTo=pod-miniflux.service
After=pod-miniflux.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/container-miniflux-postgres.pid %t/container-miniflux-postgres.ctr-id
ExecStart=/usr/bin/podman container run --conmon-pidfile %t/container-miniflux-postgres.pid --cidfile %t/container-miniflux-postgres.ctr-id --cgroups=no-conmon --pod-id-file %t/pod-miniflux.pod-id --replace --name miniflux-postgres --restart=on-failure:5 --env POSTGRES_USER=miniflux --env POSTGRES_PASSWORD="{{ miniflux_postgres_password }}" --volume /data/momod/miniflux-postgres/13:/var/lib/postgresql/data --detach=True docker.io/library/postgres:13
ExecStop=/usr/bin/podman container stop --ignore --cidfile %t/container-miniflux-postgres.ctr-id -t 10
ExecStopPost=/usr/bin/podman container rm --ignore -f --cidfile %t/container-miniflux-postgres.ctr-id
PIDFile=%t/container-miniflux-postgres.pid
Type=forking
KillMode=none

[Install]
WantedBy=multi-user.target default.target
