
  # miniflux feed reader
  miniflux:
    image: miniflux/miniflux:latest
    container_name: 'miniflux'
    depends_on:
      - miniflux-postgres
    environment:
      PUID: "{{ compose_user_uid}}"
      PGID: "{{ compose_user_gid }}"
      BASE_URL: "https://miniflux.{{ traefik_domain }}/"
      DATABASE_URL: "postgres://miniflux:{{ miniflux_postgres_password }}@miniflux-postgres/miniflux?sslmode=disable"
      RUN_MIGRATIONS: 1
      CREATE_ADMIN: 1
      ADMIN_USERNAME: "{{ miniflux_admin_user }}"
      ADMIN_PASSWORD: "{{ miniflux_admin_password }}"
    labels:
      traefik.enable: 'true'
      traefik.http.routers.miniflux-secure.entrypoints: 'https'
      traefik.http.routers.miniflux-secure.rule: "Host(`miniflux.{{ traefik_domain }}`)"
      traefik.http.routers.miniflux-secure.tls: 'true'
    expose:
      - 8080
    networks:
      - 'frontend'
    restart: "{{ restart_policy }}"

  miniflux-postgres:
    image: postgres:12
    container_name: 'miniflux-postgres'
    environment:
      PUID: "{{ compose_user_uid}}"
      PGID: "{{ compose_user_gid }}"
      POSTGRES_USER: "miniflux"
      POSTGRES_PASSWORD: "{{ miniflux_postgres_password }}"
    volumes:
      - source: "/data/docker/miniflux-postgres/12"
        target: "/var/lib/postgresql/data"
        type: 'bind'
    restart: "{{ restart_policy }}"
