[global]
  sendAnonymousUsage = true

[api]
  dashboard = true

[entryPoints]
  [entryPoints.http]
    address = ":80"
  [entryPoints.https]
    address = ":443"

[providers]
  [providers.docker]
    endpoint = "unix:///run/docker.sock"
    exposedByDefault = false
    watch = true

  [providers.file]
    filename = "dynamic_conf.toml"
    watch = true

#[log]
#  level = "DEBUG"
