[http]
  [http.middlewares]
      [http.middlewares.redirect.redirectscheme]
	     scheme = "https"
	     permanent = true
      [http.middlewares.traefik-auth.basicauth]
        users = ["{{ traefik_auth_credentials }}"]
      [http.middlewares.access-whitelist.ipWhiteList]
        sourceRange = ["212.69.48.108", "2a02:390::/16"]


  [http.routers]
    [http.routers.my-api]
  		rule = "Host(`{{ traefik_domain }}`)"
  		service = "api@internal"
  		middlewares = ["traefik-auth"]


[tls]
  [[tls.certificates]]
    certFile = "/cert.pem"
    keyFile = "/key.pem"

[tls.stores]
  [tls.stores.default]
    [tls.stores.default.defaultCertificate]
      certFile = "/cert.pem"
      keyFile = "/key.pem"
