

# Used temporarily for running play-setup on new servers
[setup]
192.168.122.21 ; qemu vm made with sausiq
192.168.122.22 ; qemu vm made with sausiq

[prod]


# Development Servers
[dev]
192.168.122.21 ; qemu vm made with sausiq
192.168.122.22 ; qemu vm made with sausiq