[prod]


# Development Servers
[dev]
# qemu vm made with sausiq
192.168.122.21
# qemu vm made with sausiq
192.168.122.22

# Temporary group for use with play/setup
# Remove hosts from this group once setup has run successfully
[setup]
192.168.122.21
192.168.122.22


# You probably want all hosts in here
# The Ansible control host will be part of this network too
[momod-vpn]
192.168.122.21
192.168.122.22