[NetDev]
Name = momod1
Kind = wireguard
Description = Momod Shared VPN

[WireGuard]
PrivateKey = {{ server_wg_private_key.content | b64decode }}
ListenPort = 51821

[WireGuardPeer]
PublicKey = {{ client_wg_public_key.content | b64decode }}
AllowedIPs = 172.30.0.0/24
PersistentKeepalive = 25
