[Match]
Name = momod0

[Network]
Description = Momod VPN
# If you need multiple addresses, e.g. for IPv4 and 6,
# use multiple Address lines.
Address = 10.30.0.1/24

[RoutingPolicyRule]
From = 10.30.0.0/24
Table = 303

[Route]
Gateway = 10.30.0.1/24
Table = 303

[Route]
Destination = 0.0.0.0/0
Type = blackhole
Metric = 1
Table = 303